@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");
@import url('https://fonts.cdnfonts.com/css/manuscribe-free');
@import url('https://fonts.cdnfonts.com/css/house-of-montague');


// @import "./variables";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: 'House of Montague', sans-serif;    
    font-weight: 400;                                    
    scroll-behavior: smooth;
    overflow-x: hidden;
    // background-color: #E7DFD0;
    background-color: #EEE9DD;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 6.4rem;
    color: white;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: -0.3;
}

h2 {
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 400; 
}

h3 {
    font-size: 4rem;
    line-height: 0.9;
    letter-spacing: -0.3;
    font-weight: 400; 

}

h4 {
    font-size: 2.4rem;
    font-weight: 400; 
}

p {
    font-size: 1.6rem;
    line-height: 1.4;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

textarea {
    font-size: 2.4rem;
    padding-left: 1rem;
}


/* Intro video styles */

.intro-video {
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text2 h1 {
    color: white;
    font-size: 6.4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

.slider {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.bg {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('/images/pexels-ajay-donga-2174656.jpg');
    /* Full height */
    height: 100%;
    min-height: 90vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}








/* base style for navbar & title */

.plane {
    width: 2.5rem;
    height: 2.5rem;
}

.main-head {
    width: 95%;
    margin: 0 0 0 auto;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        min-height: 10vh;
        width: 90%;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
        font-family: 'Montserrat', sans-serif;
        margin-top: 1rem;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex: 1 1 10rem;
    }
    .logo a {
        margin: 2rem;
        font-size: 4rem;
        color: white;
        font-weight: bolder;
        font-family: 'Manuscribe Free', sans-serif;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
        font-size: 1.6rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
    .btn-contact {
        background-color: transparent;
        padding: 24px 16px;
        width: 150px;
        height: 50px;
        text-align: center;
        color: white;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 1.6rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        border: 1px solid white;
        transition-duration: 0.4s;
        // border-radius: 40px;
        &:hover {
            background-color: white;
            color: black;
        }
    }
}

nav li a:hover {
   text-decoration: underline 1px solid white;
}
.social-header,
.boxes {
    display: none;
}

.saiyan {
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
    margin-bottom: 11rem;
    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // opacity: 0.8;
        z-index: -1;
    }    
    .luis-info {
        .title {
            text-align: center;
            // text-transform: uppercase;
            // padding-bottom: 4rem;
          
        }
        .name {
            color: white;
        }
        .luis-bio {
            text-align: center;
        }
    }
 
}


.btn-booknow:hover {
    color: black;
  }
  
  .btn-booknow:before {
    content: "";
    position: absolute;
    background: #CFC39B;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.6s ease-in;
    
  }
  
  .btn-booknow:hover:before {
    top: 0;
  }

video:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1.1); //Change as per your requirement
}


.trip-info {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
}

.trip-data1 {
    margin-right: 5rem;
}

.trips {
    font-size: 1.6rem;
}

.plus-icon {
    width: 2rem;
    height: 2rem;
}

.cloud {
    position: absolute;
    top: -40%;
    right: 10%;
    width: 40%;
}

.moving-cloud-1 {
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    top: 20%;
    z-index: -1;
    opacity: 0.5;
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}


/* Cloud Animation */

@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }
    to {
        transform: translate(0%, 0%);
    }
}

.dropdown {
    float: left;
    overflow: hidden;
    .dropbtn {
        color: black;
        background-color: inherit;
        cursor: pointer;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



.dropdown-content a:hover {
    color: #883737;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow-icon {
    margin-left: 0.4rem;
    width: 1em;
    height: 1rem;
}

//info section
.info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .info-text {
        justify-content: center;
        align-items: center;
        margin-left: 8rem;
        margin-top: 10rem;
    }
    .info-pic {
        margin-right: 2rem;
        margin-top: 12rem;
    }
    .info-title {
        margin-bottom: 4rem;
    }
    .btn-booknow {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 15rem;
        text-align: center;
        color: black;
        text-decoration: none;
        overflow:hidden;
        z-index: 1;
        margin-top: 4rem;
        // margin-top: 10rem;
        cursor: pointer;
        font-size: 1.4rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        // border-radius: 40px;
        border: 1px solid black;
        transition:         0.6s ease-in;
        &:hover {
            border: 1px solid #CFC39B;
        }
    }
}

.info-section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .info-text {
        justify-content: center;
        align-items: center;
        // margin-left: 2rem;
        padding: 6rem;
    }
    .info-pic {
        margin-left: 2rem;
        margin-top: 15rem;
    }
    .info-title {
        margin-bottom: 4rem;
    }
}

.info-p {
    font-size: 1.6rem;
    color: black;
    margin-top: 2rem;
    margin-bottom: 2.4rem;
    line-height: 1.7;
}

.discover {
    color: #000000;
    font-size: 1.6rem;
    // text-decoration: underline 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 1.6px;
    &:hover{
        color: #7e7e7e;
    }
}

.spa-pic {
    width: 70rem;
    height: 100rem;
}

//banner
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    p{
        font-size: 6.4rem;
        color: black;
        font-family: 'House of Montague', sans-serif;
        text-align: center;
                                                
        line-height: 1.1;
        letter-spacing: -0.3;
    }
   
    
}



hr{
    border: 1px solid black;
   
    width: 70%;
    margin-top: 4rem;
}

hr.line{
    border: 1px solid black;
   
    width: 70%;
    margin-bottom: 0rem;
}
hr.line2{
    margin-top: 0rem;
    margin-bottom: 4rem;
}











/*Hero section  */

.me {
    border-radius: 50%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    overflow-x: hidden;
}

.luis-info {
    .title {
        // margin-bottom: 2rem;
        font-size: 10.4rem;
        font-weight: lighter;
        line-height: 1.1;
    }
}

.scroll {
    width: 15rem;
    // margin-top: 2rem;
    // margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

.circle {
    animation: circleAnim 1.4s ease-in-out infinite alternate;
}

@keyframes circleAnim {
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(30%);
    }
}


/*projects section  */

.projects-title {
    display: flex;
    margin: auto;
    align-self: center;
    text-align: center;
    justify-content: center;
    line-height: 2rem;
    margin-bottom: 4rem;
    .p-text {
        font-size: 2.4rem;
        font-weight: 200;
        color: black;
    }
}



.projects{
    margin-top: 15rem;
}

.paris-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    .paris-text{
        text-align: center;
        margin-top: 4rem;
            p {
                display: inline-block;
                padding-bottom: 5px;
                position: relative;
                font-size: 2rem;
                color: black;
              }
              p:before{
                  content: "";
                  position: absolute;
                  width: 50%;
                  height: 1px;
                  bottom: 0;
                  left: 25%;
                  border-bottom: 1px solid rgb(0, 0, 0);
              }
        h4{
            font-size: 6rem;
            color: black;
            margin-top: 2rem;
        }
        .discover{
            margin-top: 1rem;
            text-decoration: none;
            font-size: 2rem;
            border-bottom: 2px solid black;
            padding-bottom: 1rem;

        }
    }
}



.paris-collection{
    text-align: center;
    margin-top: 15rem;
    p {
        padding-bottom: 1rem;
        position: relative;
        color: black;
        text-align: center;
        font-size: 2rem;
        display: inline-block;
      }
      p:before{
          content: "";
          position: absolute;
          width: 50%;
          height: 1px;
          bottom: 0;
          left: 25%;
          border-bottom: 1px solid rgb(0, 0, 0);
      }
}

.paris-section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0rem;
}

.elena1 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40rem;
    height: 60rem;
    // max-width: 30rem;
    // max-height: 50rem;
    margin-right: 4rem;
    transition: all 0.4s ease-in-out;
}



.section{
    // width:10%;
    // margin:0 auto;
    // height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin-left: 6rem;
    
    padding:0;
    position:relative;

  }

  .section2{
    // width:10%;
    // margin:0 auto;
    // height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 6rem;
    padding:0;
    position:relative;
  }
  
  .hscroll-line {
      bottom:30px;
      right: 40%;
      height: 2px;
      position: absolute;
      overflow: hidden;
    width:10rem;
    transform: rotate(90deg);
   transform-origin: 50% 50%;
   
  }

  .hscroll-line2 {
    bottom:30px;
    right: 40%;
    height: 2px;
    position: absolute;
    overflow: hidden;
  width:10rem;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
 
}
  
  
  .hscroll-line::before,
  .hscroll-line::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: ""
  }
  
  .hscroll-line:before {
      background: #CFC39B;
  }
  
  .hscroll-line::after {
      background: #000000;
      animation: move 3s infinite
  }
  
  @keyframes move {
      0% {
          transform: translate3d(-200%, 0, 0)
      }
      60% {
          transform: translate3d(100%, 0, 0)
      }
      100% {
          transform: translate3d(100%, 0, 0)
      }
  }

  .hscroll-line2::before,
  .hscroll-line2::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: ""
  }
  
  .hscroll-line2:before {
      background: #CFC39B;
  }
  
  .hscroll-line2::after {
      background: #000000;
      animation: move2 3s infinite
  }
  
  @keyframes move2 {
      0% {
          transform: translate3d(-200%, 0, 0)
      }
      60% {
          transform: translate3d(100%, 0, 0)
      }
      100% {
          transform: translate3d(100%, 0, 0)
      }
  }


.elena img:hover {
    transform: scale(0.9, 0.9);
    transition: all 0.4s ease-in-out;
    // box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    // border-radius: 40px;
}

.elena2 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40rem;
    height: 60rem;
    // max-width: 40rem;
    // max-height: 50rem;
    margin-right: 0rem;
    transition: all 0.4s ease-in-out;
}

.elena3 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40rem;
    height: 60rem;
    // max-width: 40rem;
    // max-height: 50rem;
    margin-right: 7rem;
    transition: all 0.4s ease-in-out;
    margin-top: 4rem;
}

.elena4 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40rem;
    height: 60rem;
    // max-width: 40rem;
    // max-height: 50rem;
    margin-right: 7rem;
    transition: all 0.4s ease-in-out;
    margin-top: 4rem;
}

.elena5 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40rem;
    height: 60rem;
    // max-width: 40rem;
    // max-height: 50rem;
    margin-right: 0rem;
    transition: all 0.4s ease-in-out;
    margin-top: 4rem;
}

.elena6 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40rem;
    height: 60rem;
    // max-width: 40rem;
    // max-height: 50rem;
    margin-right: 0rem;
    transition: all 0.4s ease-in-out;
}

.elena2 img:hover {
    transform: scale(0.9, 0.9);
    transition: all 0.4s ease-in-out;
    // box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    // border-radius: 40px;
}

.elena1 img:hover {
    transform: scale(0.9, 0.9);
    transition: all 0.4s ease-in-out;
    // box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    // border-radius: 40px;
}

.elena3 img:hover {
    transform: scale(0.9, 0.9);
    transition: all 0.4s ease-in-out;
    // box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    // border-radius: 40px;
}

.elena4 img:hover {
    transform: scale(0.9, 0.9);
    transition: all 0.4s ease-in-out;
    // box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    // border-radius: 40px;
}

.elena5 img:hover {
    transform: scale(0.9, 0.9);
    transition: all 0.4s ease-in-out;
    // box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    // border-radius: 40px;
}




.europe-title{
    color: black;
    margin-right: 4rem;
    p {
        padding-bottom: 1rem;
        position: relative;
        color: black;
        text-align: center;
      }
      p:before{
          content: "";
          position: absolute;
          width: 30%;
          height: 1px;
          bottom: 0;
          left: 35%;
          border-bottom: 1px solid rgb(0, 0, 0);
      }
     h4{
        font-size: 4rem;
        text-align: center;
        margin-top: 2rem;
        line-height: 1.2;
    }
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    p{
        color: black;
    }
}




  // news section style

  .news{
    padding: 4rem;
    font-family: 'Montserrat', sans-serif;
    min-height: 50vh;
    // margin-bottom: 4rem;
    margin-top: 15rem;
   h4{
       font-size: 4rem;
       font-family: 'House of Montague', sans-serif;
   }
   p{
       color: black;
       font-size: 2.4rem;
       padding: 0.8rem;
   }
}

.news-line{
  background: black;
  height: 0.2rem;
  margin: 4rem 0rem;
  width: 100%;
  margin-bottom: 4rem;
}

.dates-section{
  min-height: 4rem;
  // padding: 0rem .3rem;
  transition: all 0.4s ease-in-out;
  &:hover{
      background: #CFC39B;
  }
}



//ticker


.js-ticker {
    width: 100vw;
    min-height: 50vh;
    height: 50vh;
    position: relative;
    pointer-events: none;
    overflow-x: hidden;
    margin-bottom: 8rem;
    // margin-top: 10rem;
  }
  
  .js-ticker .wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    white-space: nowrap;
    padding: 0;
    will-change: transform;
  }
  
  .js-ticker li {
    list-style: none;
    padding: 0;
    
    line-height: 50px;
    color: black;
    font-weight: 400;
    font-size: 10vw;
    display: inline-block;
    margin-right: 30px;
    font-size: 10.4rem;
    font-family: 'House of Montague', sans-serif;
                                                
  }



//form section
@mixin flex($justify,
$align,
$direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

.form-section {
    min-height: 50vh;
    @include flex(center,
    center,
    row);
    margin-top: 12rem;
    margin-bottom: 8rem;
}


form {
    padding: 3rem 10rem;
    // border: 1px solid black;
    box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2), 0px 20px 40px rgba($color: #000000, $alpha: 0.2);
    @include flex(center,
    center,
    column);
    // border-radius: 2rem;
    input,
    textarea {
        margin: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        &:focus {
            outline: 2px solid black;
        }
    }
    label {
        font-size: 2rem;
    }
}

.form-btn {
    width: 100%;
    padding: 2rem;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'House of Montague', sans-serif;
                                                
    &:focus {
        background: rgb(52, 53, 53);
    }
    &:hover {
        background: rgb(52, 53, 53);
        cursor: pointer;
    }
}


/* Footer section  */

.connect {
    text-align: center;
    font-weight: 400;
    font-size: 2.4rem;
    margin-top: 15rem;
    letter-spacing: 0.1rem;
    line-height: 4rem;
}

.connect1 {
    text-align: center;
    font-size: 1.6rem;
    line-height: 8rem;
    color: black;
}

footer {
    min-height: 50vh;
    // padding: 0% 5%;
    background-color: #E3D2BC;
    
    
    
}

.main-footer{
   display: flex;
   justify-content: space-between;
   padding: 0rem 4rem;
   
   .footer-menu{
    margin-top: 6rem;
    p{
        font-size: 4rem;
        color: #000000;
        font-weight: 400;
        font-family: 'House of Montague', sans-serif;
        margin-bottom: 2.4rem;
        text-transform: uppercase; 
        line-height: normal;
       
        
    }
    ul li{
        font-size: 1.6rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        padding: 1.6rem 0rem;
    }
   }

   .footer-follow{
    margin-top: 6rem;
    p{
        font-size: 4rem;
        color: #000000;
        font-weight: 400;
        font-family: 'House of Montague', sans-serif;
        text-transform: uppercase; 
        margin-bottom: 2.4rem;
        line-height: normal;
       
    }
    .social-footer{
        display: flex;
        justify-content: center;
    }
   }

   .footer-contact{
    margin-top: 6rem;
    .contact-title{
        font-size: 4rem;
        color: #000000;
        font-weight: 400;
        font-family: 'House of Montague', sans-serif;
        text-transform: uppercase; 
        margin-bottom: 2.4rem;
        line-height: normal;
    }
    p{
        color: #000000;
        font-size: 1.6rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        line-height: normal;
    }
    .number{
        margin-top: 1.6rem;
    }

   }
  
}




/*Media query for large section  */


@media (max-width:1300px) {
   
    // .luis-info .title {
    //     font-size: 8rem;
    //     font-weight: lighter;
    //     line-height: 1.1;
    // }
    .spa-pic{
        width: 60rem;
        height: 80rem;
        // max-height: 50rem;
        // max-width: 30rem;
    }
    .info-section {
        .info-text {
            padding: 4rem;
        }
        br{
            display: none;
        }
    }
}

@media (max-width:1050px) {
    .doodles {
        width: 10rem;
        height: 10rem;
        position: absolute;
        top: 20%;
        right: 0%;
        bottom: 0;
    }
    .doodles2 {
        width: 10rem;
        height: 10rem;
        position: absolute;
        bottom: 0;
        left: 0%;
    }
    .doodles3 {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        bottom: 10%;
        left: 4%;
    }
    .doodles4 {
        display: none;
    }
    .doodles5 {
        display: none;
    }
    br {
        display: none;
    }
    .me {
        width: 35rem;
        height: 35rem;
    }
    .luis-info .title {
        font-size: 8rem;
        font-weight: lighter;
        line-height: 1.1;
        br{
            display: none;
        }
    }
   
    .spa-pic{
        width: 40rem;
        height: 60rem;
        // max-height: 50rem;
        // max-width: 30rem;
    }
    .info-section {
       
        .info-text {
            padding: 4rem;
        }
    }
}

@media only screen and (min-width: 1050px) {
    .dots {
        display: inline;
        position: absolute;
        bottom: 0;
        top: 0;
        width: 19rem;
        height: 12rem;
        z-index: -1;
    }
    .main-head {
        width: 95%;
        margin: 0 0 0 auto;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            min-height: 10vh;
            width: 90%;
            flex-wrap: wrap;
            position: relative;
            // margin-top: 0.4rem;
        }
        .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            flex: 1 1 10rem;
        }
        .logo a {
            margin: 2rem;
        }
        nav ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
        }
        .btn-contact {
            padding: 10px 14px;
            background-color: transparent;
            text-align: center;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            font-size: 1.6rem;
            font-family: 'Montserrat', sans-serif;
            border: 1px solid white;
            transition-duration: 0.4s;
            
            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 18rem;
        margin-bottom: 9rem;
        .luis-info {
            align-items: center;
            justify-self: center;
            justify-content: center;
            .title {
                // margin-bottom: 2rem;
                font-weight: 400;
            }
            .luis-bio {
                align-content: center;
                justify-content: center;
                align-items: center;
            }
            .name {
                color: black;
            }
            .scroll {
                display: flex;
                justify-self: center;
                align-self: center;
                width: 15rem;
            }
        }
    }
    .me {
        width: 35rem;
        height: 35rem;
    }
    .doodles {
        width: 15rem;
        height: 15rem;
        position: absolute;
        top: 14%;
        bottom: 0;
    }
    .doodles2 {
        width: 15rem;
        height: 15rem;
        position: absolute;
        bottom: 0;
        left: 10%;
    }
    .doodles3 {
        width: 5rem;
        height: 5rem;
        position: absolute;
        bottom: 17%;
        left: 15%;
    }
    .doodles4 {
        width: 5rem;
        height: 5rem;
        position: absolute;
        bottom: 35%;
        right: 14%;
    }
    .doodles5 {
        width: 5rem;
        height: 5rem;
        position: absolute;
        bottom: 70%;
        left: 17%;
        display: none;
    }
    .scroll-img {
        text-align: center;
    }
    .circle {
        animation: circleAnim 1.4s ease-in-out infinite alternate;
    }
    @keyframes circleAnim {
        from {
            transform: translateY(-20%);
        }
        to {
            transform: translateY(30%);
        }
    }
  
    .elena img:hover {
        transform: scale(0.9, 0.9);
     
    }
    nav ul a {
        color: white;
    }
    .blue-outline:hover {
        background-color: black;
        color: aliceblue;
    }
    .purple-outline:hover {
        background-color: black;
        color: aliceblue;
    }
    .saiyan:hover {
        background-color: black;
        color: aliceblue;
    }
    .pink:hover {
        background-color: black;
        color: aliceblue;
    }
   
    .connect {
        text-align: center;
        font-weight: 400;
        font-size: 2.4rem;
        margin-top: 8rem;
        letter-spacing: 0.1rem;
        line-height: 4rem;
    }
    .connect1 {
        text-align: center;
        font-size: 1.6rem;
        line-height: 8rem;
    }
 
    .social-icons1 {
        margin-right: 3rem;
        width: 2.4rem;
        height: 2.4rem;
    }
  
    .social-icons2 {
        width: 2.4em;
        height: 2.4rem;
    }
    .social-icons1:hover {
        transform: scale(0.9, 0.9);
    }
    .social-icons2:hover {
        transform: scale(0.9, 0.9);
    }
}


/*Media query for tablets and mid sized screens section  */

@media only screen and (max-width: 768px) {
    .doodles2 {
        display: none;
    }
    .doodles3 {
        display: none;
    }
    form {
        padding: 0rem;
        width: 100%;
        // max-width: 30rem;
    }
    .spa-pic{
        width: 50rem;
        height: 70rem;
       
    }
    .info-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        .info-text {
            margin-left: 4rem;
           
        }
        .info-pic {
            margin-right: 0rem;
        }
    }
    .info-section2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        // margin-top: 4rem;
        .info-text {
            margin-left: 4rem;
            // margin-top: 12rem;
        }
        .info-pic {
            margin-right: 0rem;
        }
    }
    // textarea {
    //     width: 100%;
    //     max-width: 25rem;
    // }
    // input {
    //     width: 100%;
    //     max-width: 25rem;
    // }
    // .form-btn {
    //     width: 90%;
    //     margin-bottom: 2rem;
    // }
}

@media only screen and (max-width: 620px) {
    .me {
        width: 25rem;
        height: 25rem;
    }
    br {
        display: none;
    }
    .trip-info {
        display: none;
    }
    .elena img {
        width: 35rem;
        height: 40rem;
        max-width: 35rem;
        max-height: 40rem;
        margin-right: 0rem;
    }
   
    .spa-pic{
        width: 30rem;
        height: 50rem;
        // max-height: 50rem;
        // max-width: 30rem;
    }
    .luis-info .title{
        font-size: 4rem;
    }
    .banner p {
        font-size: 3.2rem;
        text-align: center;
    }
    .info-section1{
        .info-text{
            margin-top: 4rem;
           }
          
    }
    .info-section2{
        .info-text{
            margin-top: 15rem;
           }
           .info-pic{
            margin-top: 4rem;
           }
    }
    .gateway2{
        padding: 0rem 2rem;
    }

    .main-footer{
        display: flex;
        flex-direction: column;
        padding-bottom: 8rem;
        .footer-follow{
            .social-footer {
                justify-content: flex-start;
            }
        }
      
    }

    .social-icons1{
        margin-right: 2rem;
    }

  
    
   

}


/*Media query for small and mid sized phones section  */


@media only screen and (max-width: 425px) {

    

  
    
    .doodles2 {
        display: none;
    }
    .doodles3 {
        display: none;
    }
    .intro-text2 h1 {
        color: white;
        font-size: 5.6rem;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;
        .luis-info {
            text-align: center;
            .luis-bio {
                margin-left: 0rem;
            }
            .btn-booknow {
                margin-left: 0rem;
            }
            .title{
                font-size: 6rem;
            }
        }
        .scroll {
            margin-left: 0;
        }
    }
    .trip-info {
        margin-right: 4rem;
        display: none;
    }
    .info-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        .info-text {
            margin-left: 0rem;
         
        }
        .info-pic {
            margin-right: 0rem;
        }
    }
    h3{
        font-size: 4rem;
    }
    .info-section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        .info-text {
            margin-left: 0rem;
        }
        .info-pic {
            margin-left: 0rem;
        }
    }
    .paris-section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .banner p {
        font-size: 3.2rem;
        text-align: center;
    }
    .europe-title{
        text-align: center;
    }
    .elena1 img {
        margin-right: 0rem;
        max-width: 30rem;
        max-height: 50rem;
        margin-bottom: 10rem;
    }
    
  
    .elena2 img {
        margin-right: 0rem;
        max-width: 30rem;
        max-height: 50rem;
        margin-top: 4rem;
    }
    .elena3 img {
        margin-right: 0rem;
        max-width: 30rem;
        max-height: 50rem;
        margin-top: 10rem;
        margin-bottom: 4rem;
    }
    .elena4 img {
        margin-right: 0rem;
        max-width: 30rem;
        max-height: 50rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .elena5 img {
        margin-right: 0rem;
        max-width: 30rem;
        max-height: 50rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .info{
        margin-bottom: 4rem;
        margin-top: 4rem;
    }
    .info-section .info-text{
        margin-top: 4rem;
    }
    .info-section2 h3{
        margin-top: 4rem;
    }
    .europe-title{
        margin-right: 0rem;
    }
}



@media only screen and (max-width: 375px) {
    .hero {
        margin-bottom: 0rem;
        margin-top: 10rem;
    }
    .trip-info {
        margin-top: 4rem;
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .doodles {
        width: 10rem;
        height: 10rem;
        position: absolute;
        top: 24%;
        right: 0%;
        bottom: 0;
    }
    .trip-info {
        display: none;
    }
    .hero {
        margin-top: 2rem;
    }
    .luis-info .title {
        font-size: 4rem;
    }
    p {
        font-size: 2.4rem;
    }
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    padding: 1.6rem 3.2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.4rem;
    border: 1px solid black;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    font-weight: 600;
    &:hover {
        background-color: #000000;
        color: white;
        border: 1px solid #000000;
    }
}


//news


