@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");
@import url("https://fonts.cdnfonts.com/css/manuscribe-free");
@import url("https://fonts.cdnfonts.com/css/house-of-montague");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: 'House of Montague', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #EEE9DD;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 6.4rem;
  color: white;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.3;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: white;
  font-weight: 400;
}

h3 {
  font-size: 4rem;
  line-height: 0.9;
  letter-spacing: -0.3;
  font-weight: 400;
}

h4 {
  font-size: 2.4rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

textarea {
  font-size: 2.4rem;
  padding-left: 1rem;
}

/* Intro video styles */
.intro-video {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text2 h1 {
  color: white;
  font-size: 6.4rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
}

.slider {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.bg {
  /* The image used */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.527)), to(rgba(0, 0, 0, 0.5))), url("/images/pexels-ajay-donga-2174656.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("/images/pexels-ajay-donga-2174656.jpg");
  /* Full height */
  height: 100%;
  min-height: 90vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

/* base style for navbar & title */
.plane {
  width: 2.5rem;
  height: 2.5rem;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

.main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1rem;
}

.main-head .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.main-head .logo a {
  margin: 2rem;
  font-size: 4rem;
  color: white;
  font-weight: bolder;
  font-family: 'Manuscribe Free', sans-serif;
}

.main-head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex: 1 1 40rem;
  -webkit-box-flex: 1;
          flex: 1 1 40rem;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.main-head .btn-contact {
  background-color: transparent;
  padding: 24px 16px;
  width: 150px;
  height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  border: 1px solid white;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.main-head .btn-contact:hover {
  background-color: white;
  color: black;
}

nav li a:hover {
  -webkit-text-decoration: underline 1px solid white;
          text-decoration: underline 1px solid white;
}

.social-header,
.boxes {
  display: none;
}

.saiyan {
  color: white;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20rem;
  margin-bottom: 11rem;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.hero .luis-info .title {
  text-align: center;
}

.hero .luis-info .name {
  color: white;
}

.hero .luis-info .luis-bio {
  text-align: center;
}

.btn-booknow:hover {
  color: black;
}

.btn-booknow:before {
  content: "";
  position: absolute;
  background: #CFC39B;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.6s ease-in;
}

.btn-booknow:hover:before {
  top: 0;
}

video:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
}

.trip-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10rem;
}

.trip-data1 {
  margin-right: 5rem;
}

.trips {
  font-size: 1.6rem;
}

.plus-icon {
  width: 2rem;
  height: 2rem;
}

.cloud {
  position: absolute;
  top: -40%;
  right: 10%;
  width: 40%;
}

.moving-cloud-1 {
  -webkit-animation: cloudAnimation 3s infinite alternate ease-in-out;
          animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  -webkit-animation: cloudAnimation 3.5s infinite alternate ease-in-out;
          animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

/* Cloud Animation */
@-webkit-keyframes cloudAnimation {
  from {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
@keyframes cloudAnimation {
  from {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  color: black;
  background-color: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  color: #883737;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow-icon {
  margin-left: 0.4rem;
  width: 1em;
  height: 1rem;
}

.info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-section .info-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8rem;
  margin-top: 10rem;
}

.info-section .info-pic {
  margin-right: 2rem;
  margin-top: 12rem;
}

.info-section .info-title {
  margin-bottom: 4rem;
}

.info-section .btn-booknow {
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 15rem;
  text-align: center;
  color: black;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  margin-top: 4rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: 1px solid black;
  -webkit-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}

.info-section .btn-booknow:hover {
  border: 1px solid #CFC39B;
}

.info-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-section2 .info-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
}

.info-section2 .info-pic {
  margin-left: 2rem;
  margin-top: 15rem;
}

.info-section2 .info-title {
  margin-bottom: 4rem;
}

.info-p {
  font-size: 1.6rem;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.7;
}

.discover {
  color: #000000;
  font-size: 1.6rem;
  border-bottom: 1px solid black;
  padding-bottom: 1.6px;
}

.spa-pic {
  width: 70rem;
  height: 100rem;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15rem;
}

.banner p {
  font-size: 6.4rem;
  color: black;
  font-family: 'House of Montague', sans-serif;
  text-align: center;
  line-height: 1.1;
  letter-spacing: -0.3;
}

hr {
  border: 1px solid black;
  width: 70%;
  margin-top: 4rem;
}

hr.line {
  border: 1px solid black;
  width: 70%;
  margin-bottom: 0rem;
}

hr.line2 {
  margin-top: 0rem;
  margin-bottom: 4rem;
}

/*Hero section  */
.me {
  border-radius: 50%;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
  overflow-x: hidden;
}

.luis-info .title {
  font-size: 10.4rem;
  font-weight: lighter;
  line-height: 1.1;
}

.scroll {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  -webkit-animation: circleAnim 1.4s ease-in-out infinite alternate;
          animation: circleAnim 1.4s ease-in-out infinite alternate;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  to {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  to {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}

/*projects section  */
.projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2rem;
  margin-bottom: 4rem;
}

.projects-title .p-text {
  font-size: 2.4rem;
  font-weight: 200;
  color: black;
}

.projects {
  margin-top: 15rem;
}

.paris-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.paris-section .paris-text {
  text-align: center;
  margin-top: 4rem;
}

.paris-section .paris-text p {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  font-size: 2rem;
  color: black;
}

.paris-section .paris-text p:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid black;
}

.paris-section .paris-text h4 {
  font-size: 6rem;
  color: black;
  margin-top: 2rem;
}

.paris-section .paris-text .discover {
  margin-top: 1rem;
  text-decoration: none;
  font-size: 2rem;
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
}

.paris-collection {
  text-align: center;
  margin-top: 15rem;
}

.paris-collection p {
  padding-bottom: 1rem;
  position: relative;
  color: black;
  text-align: center;
  font-size: 2rem;
  display: inline-block;
}

.paris-collection p:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid black;
}

.paris-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0rem;
}

.elena1 img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 40rem;
  height: 60rem;
  margin-right: 4rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
  margin-left: 6rem;
  padding: 0;
  position: relative;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
  margin-left: 6rem;
  padding: 0;
  position: relative;
}

.hscroll-line {
  bottom: 30px;
  right: 40%;
  height: 2px;
  position: absolute;
  overflow: hidden;
  width: 10rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.hscroll-line2 {
  bottom: 30px;
  right: 40%;
  height: 2px;
  position: absolute;
  overflow: hidden;
  width: 10rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.hscroll-line::before,
.hscroll-line::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

.hscroll-line:before {
  background: #CFC39B;
}

.hscroll-line::after {
  background: #000000;
  -webkit-animation: move 3s infinite;
          animation: move 3s infinite;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate3d(-200%, 0, 0);
            transform: translate3d(-200%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate3d(-200%, 0, 0);
            transform: translate3d(-200%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.hscroll-line2::before,
.hscroll-line2::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

.hscroll-line2:before {
  background: #CFC39B;
}

.hscroll-line2::after {
  background: #000000;
  -webkit-animation: move2 3s infinite;
          animation: move2 3s infinite;
}

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translate3d(-200%, 0, 0);
            transform: translate3d(-200%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: translate3d(-200%, 0, 0);
            transform: translate3d(-200%, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.elena img:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.elena2 img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 40rem;
  height: 60rem;
  margin-right: 0rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.elena3 img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 40rem;
  height: 60rem;
  margin-right: 7rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 4rem;
}

.elena4 img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 40rem;
  height: 60rem;
  margin-right: 7rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 4rem;
}

.elena5 img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 40rem;
  height: 60rem;
  margin-right: 0rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 4rem;
}

.elena6 img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 40rem;
  height: 60rem;
  margin-right: 0rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.elena2 img:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.elena1 img:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.elena3 img:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.elena4 img:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.elena5 img:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.europe-title {
  color: black;
  margin-right: 4rem;
}

.europe-title p {
  padding-bottom: 1rem;
  position: relative;
  color: black;
  text-align: center;
}

.europe-title p:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  bottom: 0;
  left: 35%;
  border-bottom: 1px solid black;
}

.europe-title h4 {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.2;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

.info p {
  color: black;
}

.news {
  padding: 4rem;
  font-family: 'Montserrat', sans-serif;
  min-height: 50vh;
  margin-top: 15rem;
}

.news h4 {
  font-size: 4rem;
  font-family: 'House of Montague', sans-serif;
}

.news p {
  color: black;
  font-size: 2.4rem;
  padding: 0.8rem;
}

.news-line {
  background: black;
  height: 0.2rem;
  margin: 4rem 0rem;
  width: 100%;
  margin-bottom: 4rem;
}

.dates-section {
  min-height: 4rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.dates-section:hover {
  background: #CFC39B;
}

.js-ticker {
  width: 100vw;
  min-height: 50vh;
  height: 50vh;
  position: relative;
  pointer-events: none;
  overflow-x: hidden;
  margin-bottom: 8rem;
}

.js-ticker .wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  white-space: nowrap;
  padding: 0;
  will-change: transform;
}

.js-ticker li {
  list-style: none;
  padding: 0;
  line-height: 50px;
  color: black;
  font-weight: 400;
  font-size: 10vw;
  display: inline-block;
  margin-right: 30px;
  font-size: 10.4rem;
  font-family: 'House of Montague', sans-serif;
}

.form-section {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 12rem;
  margin-bottom: 8rem;
}

form {
  padding: 3rem 10rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input,
form textarea {
  margin: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

form input:focus,
form textarea:focus {
  outline: 2px solid black;
}

form label {
  font-size: 2rem;
}

.form-btn {
  width: 100%;
  padding: 2rem;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: 'House of Montague', sans-serif;
}

.form-btn:focus {
  background: #343535;
}

.form-btn:hover {
  background: #343535;
  cursor: pointer;
}

/* Footer section  */
.connect {
  text-align: center;
  font-weight: 400;
  font-size: 2.4rem;
  margin-top: 15rem;
  letter-spacing: 0.1rem;
  line-height: 4rem;
}

.connect1 {
  text-align: center;
  font-size: 1.6rem;
  line-height: 8rem;
  color: black;
}

footer {
  min-height: 50vh;
  background-color: #E3D2BC;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 4rem;
}

.main-footer .footer-menu {
  margin-top: 6rem;
}

.main-footer .footer-menu p {
  font-size: 4rem;
  color: #000000;
  font-weight: 400;
  font-family: 'House of Montague', sans-serif;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  line-height: normal;
}

.main-footer .footer-menu ul li {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 1.6rem 0rem;
}

.main-footer .footer-follow {
  margin-top: 6rem;
}

.main-footer .footer-follow p {
  font-size: 4rem;
  color: #000000;
  font-weight: 400;
  font-family: 'House of Montague', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  line-height: normal;
}

.main-footer .footer-follow .social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer .footer-contact {
  margin-top: 6rem;
}

.main-footer .footer-contact .contact-title {
  font-size: 4rem;
  color: #000000;
  font-weight: 400;
  font-family: 'House of Montague', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  line-height: normal;
}

.main-footer .footer-contact p {
  color: #000000;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: normal;
}

.main-footer .footer-contact .number {
  margin-top: 1.6rem;
}

/*Media query for large section  */
@media (max-width: 1300px) {
  .spa-pic {
    width: 60rem;
    height: 80rem;
  }
  .info-section .info-text {
    padding: 4rem;
  }
  .info-section br {
    display: none;
  }
}

@media (max-width: 1050px) {
  .doodles {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 20%;
    right: 0%;
    bottom: 0;
  }
  .doodles2 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: 0;
    left: 0%;
  }
  .doodles3 {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    bottom: 10%;
    left: 4%;
  }
  .doodles4 {
    display: none;
  }
  .doodles5 {
    display: none;
  }
  br {
    display: none;
  }
  .me {
    width: 35rem;
    height: 35rem;
  }
  .luis-info .title {
    font-size: 8rem;
    font-weight: lighter;
    line-height: 1.1;
  }
  .luis-info .title br {
    display: none;
  }
  .spa-pic {
    width: 40rem;
    height: 60rem;
  }
  .info-section .info-text {
    padding: 4rem;
  }
}

@media only screen and (min-width: 1050px) {
  .dots {
    display: inline;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 19rem;
    height: 12rem;
    z-index: -1;
  }
  .main-head {
    width: 95%;
    margin: 0 0 0 auto;
  }
  .main-head nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 10vh;
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .main-head .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10rem;
            flex: 1 1 10rem;
  }
  .main-head .logo a {
    margin: 2rem;
  }
  .main-head nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex: 1 1 40rem;
    -webkit-box-flex: 1;
            flex: 1 1 40rem;
  }
  .main-head .btn-contact {
    padding: 10px 14px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .main-head .btn-contact:hover {
    background-color: white;
    color: black;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 18rem;
    margin-bottom: 9rem;
  }
  .hero .luis-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .luis-info .title {
    font-weight: 400;
  }
  .hero .luis-info .luis-bio {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .luis-info .name {
    color: black;
  }
  .hero .luis-info .scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 15rem;
  }
  .me {
    width: 35rem;
    height: 35rem;
  }
  .doodles {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 14%;
    bottom: 0;
  }
  .doodles2 {
    width: 15rem;
    height: 15rem;
    position: absolute;
    bottom: 0;
    left: 10%;
  }
  .doodles3 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 17%;
    left: 15%;
  }
  .doodles4 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 35%;
    right: 14%;
  }
  .doodles5 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 70%;
    left: 17%;
    display: none;
  }
  .scroll-img {
    text-align: center;
  }
  .circle {
    -webkit-animation: circleAnim 1.4s ease-in-out infinite alternate;
            animation: circleAnim 1.4s ease-in-out infinite alternate;
  }
  @-webkit-keyframes circleAnim {
    from {
      -webkit-transform: translateY(-20%);
              transform: translateY(-20%);
    }
    to {
      -webkit-transform: translateY(30%);
              transform: translateY(30%);
    }
  }
  @keyframes circleAnim {
    from {
      -webkit-transform: translateY(-20%);
              transform: translateY(-20%);
    }
    to {
      -webkit-transform: translateY(30%);
              transform: translateY(30%);
    }
  }
  .elena img:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  nav ul a {
    color: white;
  }
  .blue-outline:hover {
    background-color: black;
    color: aliceblue;
  }
  .purple-outline:hover {
    background-color: black;
    color: aliceblue;
  }
  .saiyan:hover {
    background-color: black;
    color: aliceblue;
  }
  .pink:hover {
    background-color: black;
    color: aliceblue;
  }
  .connect {
    text-align: center;
    font-weight: 400;
    font-size: 2.4rem;
    margin-top: 8rem;
    letter-spacing: 0.1rem;
    line-height: 4rem;
  }
  .connect1 {
    text-align: center;
    font-size: 1.6rem;
    line-height: 8rem;
  }
  .social-icons1 {
    margin-right: 3rem;
    width: 2.4rem;
    height: 2.4rem;
  }
  .social-icons2 {
    width: 2.4em;
    height: 2.4rem;
  }
  .social-icons1:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .social-icons2:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

/*Media query for tablets and mid sized screens section  */
@media only screen and (max-width: 768px) {
  .doodles2 {
    display: none;
  }
  .doodles3 {
    display: none;
  }
  form {
    padding: 0rem;
    width: 100%;
  }
  .spa-pic {
    width: 50rem;
    height: 70rem;
  }
  .info-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4rem;
  }
  .info-section .info-text {
    margin-left: 4rem;
  }
  .info-section .info-pic {
    margin-right: 0rem;
  }
  .info-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-section2 .info-text {
    margin-left: 4rem;
  }
  .info-section2 .info-pic {
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 620px) {
  .me {
    width: 25rem;
    height: 25rem;
  }
  br {
    display: none;
  }
  .trip-info {
    display: none;
  }
  .elena img {
    width: 35rem;
    height: 40rem;
    max-width: 35rem;
    max-height: 40rem;
    margin-right: 0rem;
  }
  .spa-pic {
    width: 30rem;
    height: 50rem;
  }
  .luis-info .title {
    font-size: 4rem;
  }
  .banner p {
    font-size: 3.2rem;
    text-align: center;
  }
  .info-section1 .info-text {
    margin-top: 4rem;
  }
  .info-section2 .info-text {
    margin-top: 15rem;
  }
  .info-section2 .info-pic {
    margin-top: 4rem;
  }
  .gateway2 {
    padding: 0rem 2rem;
  }
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 8rem;
  }
  .main-footer .footer-follow .social-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social-icons1 {
    margin-right: 2rem;
  }
}

/*Media query for small and mid sized phones section  */
@media only screen and (max-width: 425px) {
  .doodles2 {
    display: none;
  }
  .doodles3 {
    display: none;
  }
  .intro-text2 h1 {
    color: white;
    font-size: 5.6rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10rem;
  }
  .hero .luis-info {
    text-align: center;
  }
  .hero .luis-info .luis-bio {
    margin-left: 0rem;
  }
  .hero .luis-info .btn-booknow {
    margin-left: 0rem;
  }
  .hero .luis-info .title {
    font-size: 6rem;
  }
  .hero .scroll {
    margin-left: 0;
  }
  .trip-info {
    margin-right: 4rem;
    display: none;
  }
  .info-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10rem;
  }
  .info-section .info-text {
    margin-left: 0rem;
  }
  .info-section .info-pic {
    margin-right: 0rem;
  }
  h3 {
    font-size: 4rem;
  }
  .info-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-section2 .info-text {
    margin-left: 0rem;
  }
  .info-section2 .info-pic {
    margin-left: 0rem;
  }
  .paris-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .banner p {
    font-size: 3.2rem;
    text-align: center;
  }
  .europe-title {
    text-align: center;
  }
  .elena1 img {
    margin-right: 0rem;
    max-width: 30rem;
    max-height: 50rem;
    margin-bottom: 10rem;
  }
  .elena2 img {
    margin-right: 0rem;
    max-width: 30rem;
    max-height: 50rem;
    margin-top: 4rem;
  }
  .elena3 img {
    margin-right: 0rem;
    max-width: 30rem;
    max-height: 50rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
  }
  .elena4 img {
    margin-right: 0rem;
    max-width: 30rem;
    max-height: 50rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .elena5 img {
    margin-right: 0rem;
    max-width: 30rem;
    max-height: 50rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .info {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .info-section .info-text {
    margin-top: 4rem;
  }
  .info-section2 h3 {
    margin-top: 4rem;
  }
  .europe-title {
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 375px) {
  .hero {
    margin-bottom: 0rem;
    margin-top: 10rem;
  }
  .trip-info {
    margin-top: 4rem;
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .doodles {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 24%;
    right: 0%;
    bottom: 0;
  }
  .trip-info {
    display: none;
  }
  .hero {
    margin-top: 2rem;
  }
  .luis-info .title {
    font-size: 4rem;
  }
  p {
    font-size: 2.4rem;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding: 1.6rem 3.2rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1.4rem;
  border: 1px solid black;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: 600;
}

#myBtn:hover {
  background-color: #000000;
  color: white;
  border: 1px solid #000000;
}
/*# sourceMappingURL=style.css.map */